<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{style.css}" type="text/css">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="https://res.cloudinary.com/dmwim1a1p/image/upload/v1550954458/Elevate-Logo.png"
                 class="navbar-brand" id="toplogo" alt="Logo">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/AboutBootCamp">About BootCamp</a></li>
                        <li><a href="/AboutDeveloper">About Developer</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">


        <div class="col-xs-5 col-sm-3 sidenav-offcanvas sidenav" role="navigation">
            <div class="content">
                <h4>Topics</h4>
                <a href="/Github">GitHub</a>
                <a href="/ProgramDesign">Program Design & Algorithm</a>
                <button class="dropdown-btn">Java
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="/CoreJava">Core Java</a>
                    <a href="/Polymorphism">Polymorphism</a>
                    <a href="/Inheritance">Inheritance</a>
                    <a href="/Encapsulation">Encapsulation</a>
                    <a href="/Composition">Composition</a>
                </div>

                <button class="dropdown-btn">Web Design
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="/html5">HTML5</a>
                    <a href="/css">CSS3</a>
                    <a href="/javascript">JavaScript</a>
                    <a href="/mysql">MySql</a>
                    <a href="/springBoot">SpringBoot</a>
                </div>
                <a href="/Exercise">Exercise</a>
                <a href="/project">Sample Project</a>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control"  id="myInput" placeholder="Search Blog..">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
                </div>
            </div>

        </div>


        <div class="col-xs-11 col-sm-7">
            <br>
            <div class="jumbotron">
                <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
                <h1> Exercise</h1>
                <pre>
                    <div>
 1) A process that involves recognizing and focusing on the important
       characteristics of a situation or object is known as:

<input type="checkbox" name="question" value="enca" id="enca"> Encapsulation
<input type="checkbox" name="question" value="enca" id="poly"> Polymorphism
<input type="checkbox" name="question" value="enca" id="abs"> Abstraction
<input type="checkbox" name="question" value="enca" id="inh"> Inheritance
<input type="checkbox" name="question" value="enca" id="object"> Object persistence.
</div>
<!--A) c-->
2) Which statement is true regarding an object?

<input type="checkbox" name="question" value="enca" id="a"> An object is what classes instantiated are from
<input type="checkbox" name="question" value="enca" id="b"> An object is an instance of a class
<input type="checkbox" name="question" value="enca" id="c"> An object is a variable
<input type="checkbox" name="question" value="enca" id="d"> An object is a reference to an attribute
<input type="checkbox" name="question" value="enca" id="e"> An object is not an instance of a class.
<!--A) b-->

3) In object-oriented programming, composition relates to


<input type="checkbox" name="question" value="enca" id="aa"> The use of consistent coding conventions
<input type="checkbox" name="question" value="enca" id="bb"> The organization of components interacting to achieve a coherent, common behavior
<input type="checkbox" name="question" value="enca" id="cc"> The use of inheritance to achieve polymorphic behavior
<input type="checkbox" name="question" value="enca" id="dd"> The organization of components interacting not to achieve a coherent common behavior
<input type="checkbox" name="question" value="enca" id="ee"> The use of data hiding to achieve polymorphic behavior.


<!--A) b-->
4) In object-oriented programming, new classes can be defined by
       extending existing classes. This is an example of:

<input type="checkbox" name="question" value="enca" id="aaa"> Encapsulation
<input type="checkbox" name="question" value="enca" id="bbb"> Interface
<input type="checkbox" name="question" value="enca" id="ccc"> Composition
<input type="checkbox" name="question" value="enca" id="ddd"> Inheritance
<input type="checkbox" name="question" value="enca" id="eee">  Aggregation.
                    <!--A) d-->

5) Which of the following does not belong: If a class inherits from some other class, it should


<input type="checkbox" name="question" value="enca" id="aa5"> Make use of the parent class’s capabilities
<input type="checkbox" name="question" value="enca" id="b5"> Over-ride or add the minimum to accomplish the derived class’ purpose
<input type="checkbox" name="question" value="enca" id="c5"> Over-ride all the methods of its parent class
<input type="checkbox" name="question" value="enca" id="d5"> Make sure the result “IS-A-KIND-OF” its base class
<input type="checkbox" name="question" value="enca" id="e5"> Make sure the result “contains” its base class.
<!--A) c-->

6) Object-oriented inheritance models the

<input type="checkbox" name="question" value="enca" id="aa6"> “is a kind of” relationship
<input type="checkbox" name="question" value="enca" id="b6"> “has a” relationship
<input type="checkbox" name="question" value="enca" id="c6"> “want to be” relationship
<input type="checkbox" name="question" value="enca" id="d6"> inheritance does not describe any kind of relationship between classes
<input type="checkbox" name="question" value="enca" id="e6">  “contains” of relationship.
<!--A) a-->

7) The wrapping up of data and functions into a single unit is called

(a) Encapsulation (b) Abstraction
(c) Data Hiding (d) Polymorphism (e) Message passing.

A) a

8) Polymorphism

(a) Is not supported by Java
(b) Refers to the ability of two or more objects belonging to different classes to respond to exactly the same message in different class-specific ways
(c) Simplifies code maintenance
(d) Not simplifies code maintenance
(e) Refers to the ability of two or more objects belonging to different classes to respond to exactly the same message in different class-specific ways and simplifies code maintenance.

A) e

9) In object-oriented programming, new classes can be defined by extending existing classes. This is an example of:

(a) Encapsulation (b) Interface (c) Composition
(d) Inheritance (e) Aggregation.

A) d

10) Given a class named student, which of the following is a valid constructor declaration for the class?

(a) Student (student s) { } (b) Student student ( ) { }
(c) Private final student ( ) { } (d) Void student ( ) { }
(e) Static void student(){ }.

A) a
                </pre>
            </div>

            <!--/row-->
        </div>
        <!--/span-->
        <div col-xs-2 col-sm-2>

            <div class="content_last">
                <h3>Term you should to Know</h3>
                <a href="#" id="a1">GitHub</a>
                <a href="#" id="a2">Program Design & Algorithm</a>
                <a href="#" id="a3">Core Java</a>
                <a href="#" id="a4">Polymorphism</a>
                <a href="#" id="a5">Inheritance</a>
                <a href="#" id="a6">Encapsulation</a>
                <a href="#" id="a7">Composition</a>
                <a href="#" id="a8">HTML5</a>
                <a href="#" id="a9">CSS3</a>
                <a href="#" id="a10">JavaScript</a>
                <a href="#" id="a11">MySql</a>
                <a href="#" id="a12">SpringBoot</a>
                <a href="#" id="a13">MavenProject</a>

            </div>
        </div>

    </div>
</div>
<!--footer-->


<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">


            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="/html5">Web Design</a></li>
                    <li><a href="/Polymorphism">Java Polymorphism</a></li>
                    <li><a href="/springBoot">Spring Boot</a></li>
                    <li><a href="/Github">Github</a></li>
                    <li><a href="/exercise">Exercise</a></li>
                    <li><a href="/sampleProject">Project</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/AboutDeveloper">About Us</a></li>
                    <li><a href="/AboutDeveloper">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6">
                <h6>About The Website</h6>
                <p class="text-justify">Elevate.com  is an initiative to help the
                    upcoming programmers by providing the most efficient hand out and code or
                    snippets as the code wants to be simple. We will help beginner to  build up concepts in different
                    programming languages that include  Java, HTML, CSS, Bootstrap, JavaScript, Spring Boot,SQL
                    and Algorithm.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="whatsapp" href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="main.js"></script>
<script src="../static/main.js"></script>
</body>
</html>